@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model PersonaModel
@{ var dato = ViewData["Dato"];}

<div>
    <h1>La vista parcial detalle @dato</h1>
    <label>@Model.Name</label>
</div>
