@model List<WSGenograma.IntegrantesModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@




<div>
    <label>Esta es la vista parcial</label>
    
    <div>
        @foreach (var item in Model)
        {
            <div>@item.Apellido</div>
        }
    </div>

    
</div>