@{
    ViewData["Title"] = "Privacy Policy";
    string Mensaje = "e";
}


@model PersonaModel



<div class="container">
    <div>
        <input type="text" name="name" value="" />
    </div>

    <div>
        <button type="button" class="btn btn-primary" onclick="llamarVistaParcial();" data-target="#myModal2">
            Ejecute
        </button>
    </div>
    <div>
        <button type="button" class="btn btn-primary" onclick="llamarVistaParcial2();" data-target="#myModal2">
            Orden
        </button>
    </div>
</div>


<!-- Modal -->
<!--<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">-->
<!-- Modal content-->
<!--<div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <div id="resultado"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>-->

<div id="myModal2" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div>
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@

            </div>
            <div>
                <div id="resultado"></div>
            </div>
            <div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script>
        function llamarVistaParcial() {
            var laURLDeLaVista = '@Url.Action("DetallesPar3", "Home", Model)';
            $.ajax({
                cache: false,
                async: true,
                type: "GET",
                url: laURLDeLaVista,
                data: {},
                success: function (response) {
                    $('#resultado').html('');
                    $('#resultado').html(response);
                }
            });
        }

        function llamarVistaParcial2() {
            var laURLDeLaVista = '@Url.Action("DetallesPar", "Home", new { Area = "0" })';
            $.ajax({
                cache: false,
                async: true,
                type: "GET",
                url: laURLDeLaVista,
                data: {},
                success: function (response) {
                    $('#resultado').html('');
                    $('#resultado').html(response);
                }
            });
        }

    //$(document).ready(function () {
    //    $(#btnParcial).click(function () {
    //        $(#myParcial).load("Detalles");
    //    });
    //});
</script>
