@model List<DatosListas>


@{
    string datofin = "";
    ViewData["Title"] = "TextDropBuscador";
}

<h1>TextDropBuscador</h1>

<div>
    <input class="form-control" type="text" placeholder="Filtre por datos" autocomplete="off" />
    <select class="form-control" id="list" multiple>
        @foreach (var item in Model)
        {
            <option value="@item.IdNombre">@item.Nombre</option>
        }
    </select>


    <label id="elcodigo" />
</div>


<div>
    <select class="mdb-select md-form" searchable="Search here..">
        <option value="" disabled selected>Choose your country</option>
        <option value="1">USA</option>
        <option value="2">Germany</option>
        <option value="3">France</option>
        <option value="3">Poland</option>
        <option value="3">Japan</option>
    </select>
</div>
<div>

</div>

<div>
    <datalist id="busquedas">
        @foreach (var item in Model)
        {
            <option>@item.Nombre</option>
        }
    </datalist>
    <input class="form-control" autoComplete="on" list="busquedas" />
</div>

<form action="TextDropBuscador" method="post">

    <button type="submit">ElSUBMITY</button>

    @Html.ActionLink("ButtonText", "TextDropBuscador1", "Home",new { data = 1 }) 
</form>
<button asp-action="TextDropBuscador" onclick="TextDropBuscador">Elboton</button>   
    


<script>
    (function () {
        const select = document.querySelectorAll('select');
        const options = Array.from(select[0].options);
        const input = document.querySelector('input');

        function findMatches(search, options) {
            return options.filter(option => {
                const regex = new RegExp(search, 'gi');
                return option.text.match(regex);
            });
            
        }

        function filterOptions() {
            options.forEach(option => {
                option.remove();
                option.selected = false;
            });
            const matchArray = findMatches(this.value, options);
            select[0].append(...matchArray);
            
        }

        function getSelectValue() {
            var selectedValue = document.getElementById("list").value;
            document.getElementById('elcodigo').innerText = selectedValue;
        }


        input.addEventListener('change', filterOptions);
        input.addEventListener('keyup', filterOptions);
        
    })();


    $(document).ready(function () {
        $('.mdb-select').materialSelect();
    });
</script>

