@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    //var htmlDocument = new HtmlDocument();
        //htmlDocument.LoadHtml(html);
    var laPagina = ViewData["Pagina"];
    string a = "hola";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>
        <button onclick"lafuncion(@laPagina)">Run</button>
	</div>

    <div>
        <button onclick"OnSet()">Set</button>
	</div>

</div>



<script>
    function lafuncion(data){
        console.log(data)
    }


    //document.querySelectorAll('h2.title')
</script>